<h1>landmarks/edit</h1>

<form class="" action="/landmarks/<%= @landmark.id %>" method="post">
    <input type="hidden" name="_method" value="patch">
<input type="text" name="landmark[name]" value="<%= @landmark.name %>" id="name">
<% Title.all.each do |t| %>
<input type="checkbox" name="title" value="<%= t.id %>" id="title_<%= t.id %>">
<% end %>
<% Landmark.all.each do |l| %>
<input type="checkbox" name="landmark" value="<%= l.id %>" id="landmark_<%= l.id %>">
<% end %>

<input type="text" name="landmark[year_completed]" value="<%= @landmark.year_completed %>" id="year_completed">
<!-- <input type="text" name="title[name]" value="" id="new_title"> -->
<input type="submit" name="" value="Edit Landmark">
</form>
